<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная страница</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <style>
        img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }
    </style>
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="container" style="font-size: 20pt;">Нечёткая логика</span>
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" style="font-size: 13pt;" href="http://127.0.0.1:8000/">Введение</a>
          <a class="me-3 py-2 text-dark text-decoration-none" style="font-size: 13pt;" href="http://127.0.0.1:8000/baza">База правил</a>
          <a class="me-3 py-2 text-dark text-decoration-none" style="font-size: 13pt;" href="http://127.0.0.1:8000/prinad">Функция принадлежности</a>
        <a class="me-3 py-2 text-dark text-decoration-none" style="font-size: 13pt;" href="http://127.0.0.1:8000/fazi">Фаззификация</a>
        <a class="me-3 py-2 text-dark text-decoration-none" style="font-size: 13pt;" href="http://127.0.0.1:8000/agregator">Агрегирование</a>
          <a class="me-3 py-2 text-dark text-decoration-none" style="font-size: 13pt;" href="http://127.0.0.1:8000/defazi">Дефаззификация</a>
          <a class="me-3 py-2 text-dark text-decoration-none" style="font-size: 13pt;" href="http://127.0.0.1:8000/interface">Интерфейс</a>
          <a class="me-3 py-2 text-dark text-decoration-none" style="font-size: 13pt;" href="http://127.0.0.1:8000/test">Тест</a>
      </nav>
    </div>
<div class="container" style="margin-bottom: 50px; margin-top: 80px; font-size: 15pt; ">Фаззификация – перевод входного параметра системы в “нечеткую” область. Этот этап часто называют приведением к нечеткости. На вход поступают сформированная база правил и входные данные a1, ..., am. Целью этого этапа является получение значений истинности для всех подусловий из базы правил.</div>
<div class="container" style="margin-bottom: 50px; margin-top: 50px; font-size: 15pt; ">На рисунке ниже предствалена функция фаззификации</div>
<img class = "displayed" style="padding-bottom: 100px" src="https://sun7-7.userapi.com/s/v1/if2/xJ4hSY9-j11-NReABVNymTs6U46NVARbwdDyYF9YCEJ2Osn3BP9kbLJXKTqMGs7rS1eJaa1_B5rutI0I-8r65xTe.jpg?size=502x245&quality=96&type=album">
</body>

</html>