<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная страница</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
<style>
        img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }
    </style>
</head>
<body>

<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="container" style="font-size: 20pt;">Нечёткая логика</span>
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" style="font-size: 13pt;" href="http://127.0.0.1:8000/">Введение</a>
          <a class="me-3 py-2 text-dark text-decoration-none" style="font-size: 13pt;" href="http://127.0.0.1:8000/baza">База правил</a>
          <a class="me-3 py-2 text-dark text-decoration-none" style="font-size: 13pt;" href="http://127.0.0.1:8000/prinad">Функция принадлежности</a>
        <a class="me-3 py-2 text-dark text-decoration-none" style="font-size: 13pt;" href="http://127.0.0.1:8000/fazi">Фаззификация</a>
        <a class="me-3 py-2 text-dark text-decoration-none" style="font-size: 13pt;" href="http://127.0.0.1:8000/agregator">Агрегирование</a>
          <a class="me-3 py-2 text-dark text-decoration-none" style="font-size: 13pt;" href="http://127.0.0.1:8000/defazi">Дефаззификация</a>
          <a class="me-3 py-2 text-dark text-decoration-none" style="font-size: 13pt;" href="http://127.0.0.1:8000/interface">Интерфейс</a>
          <a class="me-3 py-2 text-dark text-decoration-none" style="font-size: 13pt;" href="http://127.0.0.1:8000/test">Тест</a>
      </nav>
    </div>

<div class="container" style="margin-bottom: 50px; margin-top: 80px; font-size: 15pt; ">В рамках технологической практики был пройден курс по созданию экспертных систем с применением принципов нечёткой логики. Где были изучены такие темы как: написание базы правил для выбранной предметной области, фаззификация получаемых показателей, этапы агрегирования и дефаззификации данных, а также создание пользовательского интерфейса для взаимодействия с экспертной системой. В связи с этим, было принято решение сделать дистанционный курс, который поможет студентам понять данную тему и на примере готовой программы написать собственную экспертную систему.</div>
<div class="container" style="height: 100px; margin-bottom: 60px; margin-top: 50px; font-size: 15pt;">Мною была написана экспертная система по выявлению тахикардии у пользователя. В данной системе нечёткая логика помогает определять насколько вероятна болезнь. Самым удобным способом реализации оказалась Python разработка с использованием модуля PyQt5.</div>

<div class="container" style="font-size: 15pt; margin-bottom: 15px" >Вся работа будет разделена на 6 разделов</div>
<ul style="margin-left: 2%">
<li class="container"><a style="font-size: 15pt;" href="http://127.0.0.1:8000/baza">База правил</a></li>
<li class="container"><a style="font-size: 15pt;" href="http://127.0.0.1:8000/prinad">Функция принадлежности</a></li>
<li class="container"><a style="font-size: 15pt;" href="http://127.0.0.1:8000/fazi">Фаззификация</a></li>
<li class="container"><a style="font-size: 15pt;" href="http://127.0.0.1:8000/agregator">Агрегирование</a></li>
<li class="container"><a style="font-size: 15pt;" href="http://127.0.0.1:8000/defazi">Дефаззификация</a></li>
<li class="container"><a style="font-size: 15pt;" href="http://127.0.0.1:8000/interface">Интерфейс</a></li>
</ul>

<div class="container" style="height: 100px; margin-top: 50px; font-size: 15pt;">Для разработки системы необходимо будет скачать:</div>

<a class="container" style="margin-bottom: 10px; font-size: 15pt; margin-left: 300px;" href="https://www.python.org/ftp/python/3.10.4/python-3.10.4-amd64.exe">Python</a>
<a class="container" style="margin-bottom: 10px; font-size: 15pt; margin-left: 500px;" href="https://download.jetbrains.com/python/pycharm-professional-2022.1.1.exe?_gl=1*l12n33*_ga*NjM2NTgwNTUuMTY0NjA4NTQ4MA..*_ga_9J976DJZ68*MTY1MzQyODI4Ny4xLjEuMTY1MzQyODUwNi4w&_ga=2.138611834.816530520.1653428288-63658055.1646085480">PyCharm</a>
<a class="container" style="margin-bottom: 10px; font-size: 15pt; margin-left: 500px;" href="https://build-system.fman.io/static/public/files/Qt%20Designer%20Setup.exe">Qt Designer</a>


<div class="container" style="height: 100px; margin-top: 50px; font-size: 15pt;">Если возникнут проблемы с установкой PyCharm: </div>
<a class="container"  style="font-size: 15pt; margin-left: 300px;" href="https://youtu.be/wquEFeQAjPQ">Инструкция по установке</a>
<div style="margin-bottom: 100px"></div>
<!--{% block content %}-->
<!--{% for el in tests %}-->
<!--<div class="container">-->
<!--    <mark>{{ el.fio }}</mark>-->
<!--    <mark>{{ el.group }}</mark>-->
<!--    <mark>{{ el.result }}</mark>-->
<!--</div>-->
<!--{% endfor %}-->
<!--{% endblock %}-->

<div class="container" style="height: 100px; margin-top: 50px; font-size: 15pt;"> Ссылка на скачивание моего готового проекта. Инструкция по запуску находится в файле README.</div>
<a class="container"  style="font-size: 15pt; margin-left: 300px;" href="https://github.com/Pixxxxta/Fuzi/archive/refs/heads/main.zip">Скачать zip архив</a>

<div class="container" style="height: 100px; margin-top: 50px; font-size: 15pt;"> Также вы можете ознакомиться с другими проектами, которые написали мои одногруппники:</div>
<a class="container" style="margin-bottom: 10px; font-size: 15pt; margin-left: 15.5%;" href="https://github.com/zalimannard/UniversityPractice3/archive/refs/heads/main.zip">Пример на C++</a>
<a class="container" style="margin-bottom: 10px; font-size: 15pt; margin-left: 50%;" href="https://github.com/k-andrey01/ChYHt/archive/refs/heads/main.zip">Пример на андроид</a>


<div class="container" style="height: 100px; margin-top: 50px; font-size: 15pt;"> По всем вопросам можно обращаться ко мне в телеграмм.</div>
<img class = "displayed" style="padding-bottom: 100px" src="https://sun9-62.userapi.com/s/v1/if2/ti_B9U4eduy0Ws2-JEnLUFQKGhYy9AqulkjsB7XiIHeVu_TpY2BrV-5zWAltn9Y6UwNWZdzTCelCsUMBoKGHaYaQ.jpg?size=244x303&quality=96&type=album">

</body>

</html>